# 1. 파이썬 기본용어

## 1.1 변수

- 값이 변하는 수를 저장하는 그릇. 모든 프로그래밍 언어가 데이터를 다루기 위해 필요한 약속.


- 프로그래밍 언어마다 조금씩 다르며, 어떤 프로그래밍 언어에 대해 배울 때 제일 먼저 익혀야 하는 필수 관문.


- 프로그래밍 언어에서는 변수(Variable)에서 데이터를 저장/관리 하며 변수에 대한 개념을 통해 데이터를 사용할 수 있다.


- 변수라는 그릇에 정수를 담을 수도 있고, 긴 글을 담을 수도 있고, file을 담을 수도 있다. 우리가 재사용 하기 쉽게 **별명**을 지어준 것.


- 변수에 데이터를 저장할 때는 <kbd>=</kbd>를 사용한다.

case1. 변수의 이름 : 알파벳(대소문자), 한글도 가능(비추)

In [1]:
a=1
a

1

In [2]:
A=1
A

1

In [3]:
변수1=2
변수1

2

case2. 알파벳 + 숫자 (가능)

In [4]:
a1=1
a1

1

case3. 알파벳 + 언더바_(가능)

In [5]:
a_=1
a_

1

case4. 언더바_ + 알파벳 (가능)

In [6]:
_for=3
_for

3

case5. 숫자 + 알파벳 (불가능)

In [7]:
2a=3
2a

SyntaxError: invalid syntax (<ipython-input-7-50c17d435fd7>, line 1)

case6. 언더바를 제외한 특수문자(불가능)

In [8]:
a! =1
a!

SyntaxError: invalid syntax (<ipython-input-8-a520b53a272d>, line 1)

 case7. 변수 이름 사이에 공백 (불가능)

In [9]:
a b =1
a b

SyntaxError: invalid syntax (<ipython-input-9-9ae5f00b9e8f>, line 1)

In [11]:
a, b = 1, 0
a, b
a

1

주로 변수는 **소문자 알파벳으로 생성**하고, 필요시에 숫자를 붙히는 방식이 일반적

#### 띄어쓰기 필요하면 언더바 or 대문자 사용
- abc_def_ghi
- abcDefGhi

In [13]:
S_dong=2
S_dong

2

## 1.2 comment(주석)

  - 코드에서 #으로 시작하는 뒷 부분은 실행되지 않음
  
  
  - python이 소스코드를 실행하면서 #를 만나면 무시
  
  
  - 개발자(사람)가 보기 위한 용도로 사용

In [20]:
# 간단한 계산기

a=10
b=100

print(a+b)

110

## 1.3 indent(들여쓰기)
- indent(들여쓰기)는 파이썬에서 굉장히 중요합니다. 단순히, 코드를 깔끔히 정리하기 위해서 들여쓰기를 하는 것은 아닙니다
- 본인이 맞게 코드를 짰다고 한다면, indent는 자동으로 해줄 것입니다.
- [tab]키를 한 번 누르면 indent가 1번 한 효과입니다.

In [28]:
# 홀짝 프로그램
num=int(input('숫자: '))
if num%2==1 :
    print(num,'은 홀수')
else :
    print(num,'은 짝수')

print('파이썬은 들여쓰기가 중요합니다')

숫자: 4
4 은 짝수
파이썬은 들여쓰기가 중요합니다

## 1.4 input(), print()

-  **input()** 
    - 사용자 입력값을 받을 수 있다. 입력 받는 값은 문자열(str)이다.
    - 정수로 사용하고 싶다면 int()사용
    - int(intput())
    

- **print()**
    - 각종 자료를 출력해주는 함수
    - print() 구문 사이에 값을 넣으면, 바로 값이 출력
    - print() 구문 사이에 변수이름을 넣으면, 변수 값이 출력
    - print() : 빈줄 출력
    - sep=’ ‘,  end = ‘\n’ 이 기본으로 설정되어 있다.

In [27]:
a= int(input('첫번째 숫자 :'))
b= int(input('두번째 숫자 :'))

print(a+b)

첫번째 숫자 :5
두번째 숫자 :4
9

# 2. Python Data types

## 2.1 Data Type이란?

- 모든 프로그래밍 언어가 데이터를 다루기 위해 필요한 약속.


- 프로그래밍 언어마다 조금씩 다르며, 어떤 프로그래밍 언어에 대해 배울 때 제일 먼저 익혀야 하는 필수 관문.


- 프로그래밍 언어에서는 변수(Variable)에서 데이터를 저장/관리 하며 변수에 대한 개념을 통해 데이터를 사용할 수 있다.


- type() 함수를 통해 데이터의 타입을 알수 있다.

In [30]:
a=1
type(a)

int

In [33]:
b='Hello World'
type(b)

str

변수가 무슨 타입인지 알아보고 싶을 때는 **type(변수)** 해보기 /
출력되는 건 아님

## 2.2 숫자 데이터 (Numeric Data Types)

* 숫자형 데이터란, 정수/실수/복소수/2진수/8진수/16진수를 포함하며 가장 많이 사용하는 데이터 타입중에 하나다.


* 파이썬은 숫자의 표현 범위가 무한대이다.


* 숫자 데이터는 우리가 알고 있는 대부분의 연산을 그대로 지원한다. 사칙연산, 나머지 구하기, 몫 구하기, 거듭제곱 등

### 2.2.1 정수형 (Int)

In [40]:
a=4

if a :
    print('a는 참')
else :
    print('a는 거짓')

a는 참

1 -> True , 0 -> False / 나머지 숫자들도 다 참으로 인식

### 2.2.2 실수형 (float)

In [44]:
c=3.14
r=10

#원의 둘레 : 2파이r
#원의 넓이 : 파이r제곱

print('원의 둘레: ',2*c*r)
print('원의 넓이: ',c*r*r)

원의 둘레:  62.800000000000004
원의 넓이:  314.0

## 2.3 불형(bool)
- 참(True)이나 거짓(False)만 저장, 논리형이라고 한다.

In [48]:
a=True
type(a)

bool

**연습문제1) 구구단 역순으로 출력하기**

In [53]:
for i in range(2,10) :
    print(i,'단')
    for j in range(10) :
        print(i,'*',j,'=',i*j)

2 단
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 단
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 단
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 단
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 단
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 단
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 단
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 단
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [56]:
#구구단 
for i in range(9,1,-1) :
    print(i,'단')
    for j in range(9,0,-1) :
        print(i,'*',j,'=',i*j)

9 단
9 * 9 = 81
9 * 8 = 72
9 * 7 = 63
9 * 6 = 54
9 * 5 = 45
9 * 4 = 36
9 * 3 = 27
9 * 2 = 18
9 * 1 = 9
8 단
8 * 9 = 72
8 * 8 = 64
8 * 7 = 56
8 * 6 = 48
8 * 5 = 40
8 * 4 = 32
8 * 3 = 24
8 * 2 = 16
8 * 1 = 8
7 단
7 * 9 = 63
7 * 8 = 56
7 * 7 = 49
7 * 6 = 42
7 * 5 = 35
7 * 4 = 28
7 * 3 = 21
7 * 2 = 14
7 * 1 = 7
6 단
6 * 9 = 54
6 * 8 = 48
6 * 7 = 42
6 * 6 = 36
6 * 5 = 30
6 * 4 = 24
6 * 3 = 18
6 * 2 = 12
6 * 1 = 6
5 단
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5
4 단
4 * 9 = 36
4 * 8 = 32
4 * 7 = 28
4 * 6 = 24
4 * 5 = 20
4 * 4 = 16
4 * 3 = 12
4 * 2 = 8
4 * 1 = 4
3 단
3 * 9 = 27
3 * 8 = 24
3 * 7 = 21
3 * 6 = 18
3 * 5 = 15
3 * 4 = 12
3 * 3 = 9
3 * 2 = 6
3 * 1 = 3
2 단
2 * 9 = 18
2 * 8 = 16
2 * 7 = 14
2 * 6 = 12
2 * 5 = 10
2 * 4 = 8
2 * 3 = 6
2 * 2 = 4
2 * 1 = 2

**연습문제 2) 연도를 입력받아서 윤년인지 아닌지를 구분하는 프로그램**
- 4로 나누어 떨어지는 해는 윤년으로 한다. (1988년, 1992년, 1996년, 2004년, 2008년, 2012년, 2016년, 2020년, 2024년, 2028년, 2032년, 2036년, 2040년, 2044년 ...)
- 4, 100 으로 나누어 떨어지는 해는 평년으로 한다. (1900년, 2100년, 2200년, 2300년, 2500년...)
- 4, 100, 400 으로 나누어 떨어지는 해는 윤년으로 둔다. (2000년, 2400년...)
출처: 위키백과

In [67]:
#윤년 ver1
y=int(input('년도: '))
if y%4==0 :
    if y%100==0 :
        if y%400==0 :
            print(y,'년은 윤년입니다')
        else :
            print(y,'년은 평년입니다')
    else :
        print(y,'년은 윤년입니다')
else :
    print(y,'년은 평년입니다')

년도: 400
400 년은 윤년입니다

In [69]:
#윤년 ver2
y=int(input('년도: '))
if y%400==0 :
    print(y,'년은 윤년입니다')
else :
    if y%100==0 :
        print(y,'년은 평년입니다')
    else:
        if y%4==0 :
            print(y,'년은 윤년입니다')
        else :
            print(y,'년은 평년입니다')

년도: 400
400 년은 윤년입니다

In [75]:
y=int(input('년도: '))
if y%400==0 :
    print(y,'년은 윤년입니다')
elif y%100==0 :
    print(y,'년은 평년입니다')
elif y%4==0 :
    print(y,'년은 윤년입니다')
else :
    print(y,'년은 평년입니다')

년도: 400
400 윤년

#### elif 는  else 안에 if가 있는 거

In [76]:
#윤년 ver3
y=int(input('년도: '))
if y%400==0 :
    print(y,'년은 윤년입니다')
elif y%100==0 :
    print(y,'년은 평년입니다')
elif y%4==0 :
    print(y,'년은 윤년입니다')
else :
    print(y,'년은 평년입니다')

년도: 2021
2021 년은 평년입니다

## 2.4 문자열(str)

* 문자열 데이터란, 문자(character)의 나열을 의미한다. e.g. "Hello world"


* 파이썬에 다룰 수 있는 문자열의 크기도 제한이 없다.


* 파이썬에선 <kbd>'</kbd>와 <kbd>"</kbd> 두 가지의 기호를 통해 문자열을 나타낸다. 즉 ' 부터 ' 까지 또는 " 부터 " 까지 하나의 문자열이다.
e.g. 'Hello', "World"

### 2.4.1 문자열을 만드는 여러가지 방법

### 2.4.2 특수 문자 표현 (escape code) 익히기 
- \n, \t, \", \', \b, \\

파이썬뿐만 아니라 모든 언어에 해당

In [78]:
print('동해물과 백두산이 마르고\n닳도록 하느님이 보우하사\t우리나라 만세 무궁화 삼천리 화려강산 대한사람\b대한으로 길이 보전하세')

동해물과 백두산이 마르고
닳도록 하느님이 보우하사	우리나라 만세 무궁화 삼천리 화려강산 대한사람대한으로 길이 보전하세

In [81]:
print('동해물과 백두산이 마르고 닳도록 
      하느님이 보우하사 우리나라 만세 
      무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세')

동해물과 백두산이 마르고 닳도록
      하느님이 보우하사 우리나라 만세
      무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세

In [82]:
s1 = "I'm a boy"
s2 = '"Python is very easy" he says.'

print(s1)
print(s2)

I'm a boy
"Python is very easy" he says.

" 출력하고 싶으면 '로 문장 싸고, ' 출력하고 싶으면 "로 문장 싸기

### 2.4.3 문자열 연산하기 
- 문자열 연결 연산자 : +
- 문자열 반복 연산자 : *
- **문자열 선택 연산자(인덱싱) : [ ]**


| H | e | l | l | o |   | W | o | r | l | d |
| ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |---- | ---- | ---- |
|  [0] |  [1] |  [2] |  [3] |  [4] |  [5] |  [6] |  [7] | [8] |  [9] | [10] |
|  [-11] |  [-10] |  [-9] |  [-8] |  [-7] |  [-6] |  [-5] |  [-4] | [-3] |  [-2] | [-1] |

In [5]:
s1 = 'hello'
s2 = 'world'

s1+' '+s2  #가운데 띄기

(s1+' ')*3  #연속 세번 반복

'hello hello hello '

In [3]:
s1 = 'Welcome'
s2 = 'to'
s3 = 'Korea'
s1+' '+s2+' '+s3

'Welcome to Korea'

In [8]:
s3 = 'Hello World'
s3[7]      #몇번째 문자인지
len(s3)    #문자열 길이 
s3[len(s3)-1]  #끝값구하기

'd'

In [9]:
s3[-1]
s3[-5]
s3[-len(s3)]

'H'

**연습문제2) 문자열을 입력 받아서 거꾸로 출력하는 프로그램**

In [106]:
a='Hello World'
b=len(a)

for i in range(-1,-(b+1),-1) :   #다시보기***
    print(a[i],end='')

dlroW olleH

In [1]:
a='Hello World'

print(a[::-1])

dlroW olleH

In [11]:
for i in range(len(a)-1,-1,-1) :
    print(a[i],end='')

dlroW olleH

In [17]:
print(a[0:5])  #끝값 출력X
print(a[3:7])
print(a[4:9])
print(a[3:])
print(a[:3])

Hello
lo W
o Wor
lo World
Hel

### 2.4.4 문자열 숫자로 바꾸기
- 문자열 -> 숫자형으로 변환해야 하는 경우는 많다. 캐스트(cast) 라고 한다.
- type() : 자료형을 알아보는 함수
- int(문자열) : 문자열 -> int
- float(문자열) : 문자열 -> float

In [26]:
a = 'hello'
b = '10'
c = '3.14'

type(c)
b*3

int_b = int(b)
type(int_b)

float_c = float(c)
print(2*c*10)
print(2*float_c*10)

#int_a=inr(a)   >> 출력 X

3.143.143.143.143.143.143.143.143.143.143.143.143.143.143.143.143.143.143.143.14
62.800000000000004

### 2.4.5 문자열 Formatting

- 문자열을 출력할 때(print 함수를 이용하여) 특정 format을 지정하고 싶은 경우에는 어떻게 해야할까?

e.g. OOO님의 주민등록번호는 XXXXXXX-XXXXXXX입니다.

- 문자열 포맷에는 크게 3가지가 있다. (기호에 맞게 사용하면 됩니다)


1) print format 사용( %s : 문자열, %d : 십진수)

> print("%s는 %d개 있다." % ("사과", 4))

2) str.format 함수 사용

> print("{}는 {}개 있다.".format("사과", 4))

3) f-string (**)

> apple = "사과", count = 4

> print(f"{apple}는 {count}개 있다.")

In [9]:
print('{}는 {}개 있다.'.format('사과',4))

사과는 4개 있다.

In [10]:
print('%s는 %d개 있다.'%('사과',4))

사과는 4개 있다.

In [17]:
apple = '사과'
count = 4

print("%s는 %d개 있다."%(apple, count))

print('{}는 {}개 있다.'.format(apple, count))

사과는 4개 있다.
사과는 4개 있다.

In [33]:
print('%s %s는 %s'%('원숭이', '엉덩이', '빨개'))

원숭이 엉덩이는 빨개

In [ ]:
print('{} {}는 {}'.format('원숭이', '엉덩이', '빨개'))

In [16]:
a= '원숭이', b = '엉덩이', c ='빨개'
print(f'{a} {b}는 {c}')

SyntaxError: cannot assign to literal (<ipython-input-16-805b815856de>, line 1)

**연습문제3) 개인정보를 사용자로부터 입력받아, 주민등록등본을 출력해주는 키오스크(Kiosk)용 프로그램을 제작하려고 한다. 입력받은 이름을 name이라는 변수에, 주민번호 앞자리를 id라는 변수에 입력받았다면, 주민등록등본에 어떻게 출력해야 할까?**

In [5]:
name = input('이름 : ')
id = input('주민번호 앞자리 : ')

print('이름 : {}, 주민번호 : {}******'.format(name, id))

이름 : Andy
주민번호 앞자리 : 2
이름 : Andy, 주민번호 : 2*******

### 2.4.6 문자열 관련 함수들

#### (영어) 대소문자 바꾸기 upper(), lower()

In [7]:
s = 'hi'
s.upper()

'HI'

In [8]:
s= 'HI'
s.lower()

'hi'

#### 문자 공백 지우기 strip()

In [13]:
s = '    hi       '
s.strip()

'hi'

#### 문자열 삽입 join()

In [17]:
s = '**'
print(s.join('abcd'))
print(s.join(['ab','cd','ef']))
print('\n'.join(['ab','cd','ef']))

a**b**c**d
ab**cd**ef
ab
cd
ef

#### 문자열  나누기 split()

In [18]:
s = 'Life is too short'
s.split()

['Life', 'is', 'too', 'short']

In [8]:
s1 = '삼성전자/애플/샤오미'
print(s1)

s2 = s1.split('/')

print(s2)

s3 = ' % '.join(s2)
print(s3)

삼성전자/애플/샤오미
['삼성전자', '애플', '샤오미']
삼성전자 % 애플 % 샤오미

#### 문자열 바꾸기 replace()

In [26]:
s = 'Life is too short'
s.replace('Life','This pencil')

'This pencil is too short'

#### format() 함수의 다양한 기능

In [27]:
#a = '{} * {} = {}'.format(2,2,2*2)
#print(a)

b= '{:d}'.format(52)
print(b)

52

In [29]:
#특정 칸에 출력  > 5칸 확보 후 52 출력 : ^^^52
b= '{:5d}'.format(52)
print(b)

b = '{:10d}'.format(52)
print(b)

#빈칸을 0으로 채우기
b = '{:05d}'.format(52)
print(b)

b = '{:05d}'.format(-52)
print(b)

   52
        52
00052
-0052

In [36]:
#부호

d = '{:d}'.format(52)
print(d)

d = '{:+d}'.format(52)       # >> + 는 부호를 달겠다는 의미 (자리 확보해주면서)
print(d) 

d = '{:+d}'.format(-52)
print(d)

d = '{: d}'.format(52)
print(d)

d = '{: d}'.format(-52)
print(d)

52
+52
-52
 52
-52

In [46]:
#조합하기

b = '{:d}'.format(52)
print(b)

# 부호를 뒤로 밀기
b = '{:+5d}'.format(52)
print(b)

b = '{:+5d}'.format(-52)
print(b)

#부호를 앞으로 밀기
b = '{:=+5d}'.format(52)
print(b)

b = '{:=+5d}'.format(-52)
print(b)

#빈칸 0으로 채우기
b = '{:+05d}'.format(52)
print(b)

b = '{:+05d}'.format(-52)
print(b)

52
  +52
  -52
+  52
-  52
+0052
-0052

In [50]:
#실수
a = '{:f}'.format(52.334)
print(a)

a = '{: 15f}'.format(52.334)
print(a)

a = '{:+15f}'.format(52.334)
print(a)

a = '{:+015f}'.format(52.334)
print(a)

52.334000
      52.334000
     +52.334000
+0000052.334000

In [52]:
a = '{:+15.3f}'.format(52.337)   # >> 15자리 중에 소수점 3자리까지 표현하겠다.
print(a)

a = '{:+15.2f}'.format(52.337)
print(a)

a = '{:+15.1f}'.format(52.337)
print(a)

        +52.337
         +52.34
          +52.3

In [53]:
#의미없는 소숫점 제거하기

a = 52.0
b = '{:g}'.format(a)

print(a)
print(b)

52.0
52

# 3. 실전문제

**실전1. 학점계산기**
- andy는 1학기 중간고사의 학점을 알고싶다.
- and가 중간고사 때 수강한 과목과 학점은 다음과 같다.
| 기초수학(3) | 프로그래밍(3) | 자료구조(2) | 글쓰기(3) |
| --- | --- | --- | --- |
| A | C | B+ | A+ |


- 과목이름 옆 괄호에 있는 숫자는 학점 수이고, 4.5만점 기준으로 성적이 계산된다.
> e.g. <b>A+ : 4.5,   A : 4.0,   B+ : 3.5,   B : 3.0,   C+ : 2.5,   C : 2.0,   F : 0</b>

- 계산 공식은 다음과 같다.
> (3 x A + 3 x C + 2 x B+ + 3 x A+) / (3+3+2+3) = (3 x 4.5 + 3 x 2.0 + 2 x 3.5 + 3 x 4.0) / 학점의 합계

In [56]:
#답

Ap = 4.5
A = 4.0
Bp = 3.5
C = 2.0

score = (3*A + 3*C + 2*Bp + 3*Ap)/11
print(score)

3.5

**실전2 : 십의 자리 구하기**
- 숫자 하나를 입력 받는다.(숫자는 무조건 두 자리 이상의 자연수
- 입력받은 숫자의 십의 자리수를 출력한다.
- hint : str인덱스를 이용하여 구하는 방법, 숫자 연산을 통해 구하는 방법

In [58]:
#ver1
num=input('숫자: ')
tens = str(num)[-2]
print(tens)

num=input('숫자: ')
print(num[-2])

숫자: 292929
2
숫자: 292929
2

In [125]:
#ver2
num=int(input('숫자: '))
print(num%100//10)

숫자: 2636742
4

**실전3 : 주민등록번호 가리기**
- 주민등록번호가 하나 주어집니다.
- 뒤에 6자리를 *로 만들어서 소중한 정보를 지키세요

In [62]:
#여러가지 방법 생각해보기

id1= '970624-2637483'
id2= '901225-2849574'

s_id = id1[:-6]+'*'*6
print(s_id)

s_id = id2[:8]+'******'
print(s_id)

s_id = id1[:8]+'******'
print(id1[:8],'******',sep='')

970624-2******
901225-2******
970624-2******