# 실전문제 
 - 문제를 해결하면서 리스트의 개념을 정리해 봅니다.
 - 결과물은 print()를 이용해서 출력합니다.

### 1. 아래 문제를 읽고 적절한 코드를 프로그래밍 합니다.
- 2021년 5월 첫째주 영화 예매 순위 기준 top3는 다음과 같습니다. 

1.1 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

| 순위 | 영화 |
| ---- | ---- | 
|  1 |  크루즈 패밀리 |  
|  2 |  더 스파이 | 
|  3 |  미나리 |

In [1]:
movie_rank = ['크루즈 패밀리', '더 스파이', '미나리']
print(movie_rank)

['크루즈 패밀리', '더 스파이', '미나리']

1.2 movie_rank에 '비와 당신의 이야기'를 추가하세요.

In [46]:
movie_rank = ['크루즈 패밀리', '더 스파이', '미나리']
movie_rank.append('비와 당신의 이야기')
print(movie_rank)

['크루즈 패밀리', '더 스파이', '미나리', '비와 당신의 이야기']

In [48]:
movie_rank = ['크루즈 패밀리', '더 스파이', '미나리']
movie_rank.extend(['비와 당신의 이야기'])
print(movie_rank)

['크루즈 패밀리', '더 스파이', '미나리', '비와 당신의 이야기']

1.3 "명탐정 코난"을 "더 스파이"와 "미나리" 사이에 추가하세요

In [3]:
movie_rank.insert(2,'명탐정 코난')
print(movie_rank)

['크루즈 패밀리', '더 스파이', '명탐정 코난', '미나리', '비와 당신의 이야기']

1.4 movie_rank 리스트에서 '크루즈 패밀리'를 삭제하세요.

In [4]:
del(movie_rank[0])
print(movie_rank)

['더 스파이', '명탐정 코난', '미나리', '비와 당신의 이야기']

1.5 movie_rank에서 '미나리'를 삭제하세요.

In [5]:
movie_rank.remove('미나리')
print(movie_rank)

['더 스파이', '명탐정 코난', '비와 당신의 이야기']

In [50]:
movie_rank = ['더 스파이', '명탐정 코난', '미나리', '비와 당신의 이야기']
movie_rank.pop(2)
print(movie_rank)

['더 스파이', '명탐정 코난', '비와 당신의 이야기']

### 2.  list_a = [1, 2, 3, 4], list_b = [5, 6, 7, 8] 일때 list_a 와 list_b 값을 모두 가지는 list_c를 생성하세요.

In [6]:
list_a = [1,2,3,4]
list_b = [5,6,7,8]
list_c = list_a + list_b
print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8]

### 3. 다음 리스트에 저장된 데이터의 개수를 화면에 구하시오.
- cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

In [8]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

### 4. a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 일때 아래 질문에 맞는 코드를 프로그래밍 하세요.

4.1 홀수만 추출하세요.(슬라이싱 사용)

In [9]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[::2])

[1, 3, 5, 7, 9]

4.2 짝수만 추출하세요.(슬라이싱 사용)

In [12]:
print(a[1::2])

[2, 4, 6, 8, 10]

4.3 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

In [13]:
print(a[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 5. 3개의 숫자를 입력받아서 내림차순으로 정렬하세요.

In [18]:
a = []

for i in range(1,4,1) :
    a.append(int(input('{}번째 숫자 : '.format(i))))

print('입력받은 숫자 : ', a)
a.sort(reverse = True)
print('내림차순 정렬 : ', a)

1번째 숫자 : 4
2번째 숫자 : 32
3번째 숫자 : 6
입력받은 숫자 :  [4, 32, 6]
내림차순 정렬 :  [32, 6, 4]

### 6. 변수 company 가 아래와 같을 때 적절한 코드를 프로그래밍 하세요.
- company = 'Samsung/Naver/LG/Kakao/SK'

6.1 company = ['Samsung', 'Naver', 'LG', 'Kakao', 'SK'] 의 형태로 출력하시오.(str함수이용)

In [30]:
company = 'Samsung/Naver/LG/Kakao/SK'
a = company.split('/')
print(a)

['Samsung', 'Naver', 'LG', 'Kakao', 'SK']

6.2 company = ['Samsung', 'Naver', 'LG', 'Kakao', 'SK'] 를 company = 'Samsung%Naver%LG%Kakao%SK' 형태로 출력하시오.

In [31]:
b = '%'.join(a)
print(b)

Samsung%Naver%LG%Kakao%SK

### 7. 다음 문제을 읽고 답을 완성하세요.
7.1 숫자 1이 저장된 튜플을 생성합니다.

In [34]:
my_tuple = (1, )
print(my_tuple)

(1,)

7.2 다음코드를 실행해보고 오류가 발행하는 원인을 설명하세요
- 오류원인 : tuple은 읽기 전용이기 때문에 요소를 바꿀 수 없다.

In [35]:
>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

SyntaxError: invalid syntax (<ipython-input-35-bc7494d2e127>, line 1)

7.3 아래 변수 t의 자료형은?
- 답변 : tuple

In [1]:
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

7.4 다음 리스트를 튜플로 변경하시오(company 자체를 변경해도 되고, 새로운 변수를 만들어도 됩니다.)

In [3]:
company = ['삼성', '애플', '샤오미']
company= tuple(company)
print(company)

('삼성', '애플', '샤오미')

In [53]:
company = ('삼성', '애플', '샤오미')
print(type(company))

<class 'tuple'>