### 1. 사용자로부터 입력받은 문자열을 두번출력하시오.

In [61]:
#출력예시

문자열 : hello
hellohello

In [1]:
a = input('문자열 : ')
print(a*2)

문자열 : hello
hellohello

### 2. 사용자로 값을 입력받은 후 해당값에 30을 더한 값을 출력하시오. 
- 단 사용자가 입력한 값과 30을 더한 값이 255를 초과하는 하는 경우 255를 출력하시오. 
- 예) 입력 : 10 / 출력 : 40 , 입력 : 240 / 출력 : 255

In [7]:
#출력예시

입력값: 255
255

In [4]:
num = int(input('입력값 : '))

if num+30 > 255 :
    print('출력값 : 255')
else :
    print('출력값 : ',num+30)

입력값 : 255
출력값 : 255

In [ ]:
user = input('입력값 : ')
num = 30 + int(user)
if num > 255:
    print('출력값 : 255')
else :
    print('출력값 : ',num)

### 3. 다음 조건에 맞는 프로그램을 작성하시오.
- 투자경고 종목 리스트가 있을 때 사용자로 부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램
- warn_investment_list = ['삼성', '애플', 'Naver', '카카오', 'LG']

In [64]:
#출력예시

종목명 : 삼성
투자 경고 종목입니다.

In [8]:
warn_investment_list = ['삼성', '애플', 'Naver', '카카오', 'LG']

name = input('종목명 : ')

if name in warn_investment_list :
    print('투자 경고 종목입니다')
else :
    print('투자 경고 종목이 아닙니다.')

종목명 : 삼성
투자 경고 종목입니다

### 4. 아래 리스트에서  30 보다 작은 6의 배수를 출력하시오.
- list_a = [13, 21, 12, 14, 30, 18, 24]

In [18]:
list_a = [13, 21, 12, 14, 30, 18, 24]

a = [i for i in list_a if (i%6==0) and i< 30]
print(a)

[12, 18, 24]

In [27]:
list_a = [13, 21, 12, 14, 30, 18, 24]

for i in list_a :
    if (i <30) and (i%6==0) :
        print(i)

12
18
24

### 5. 아래 리스트에서 네 글자 이상의 문자를 화면에 출력하시오.
- list_b = ['Life', 'is', 'short', 'You', 'need', 'Python']

In [20]:
list_b = ['Life', 'is', 'short', 'You', 'need', 'Python']

b = [i for i in list_b if len(i) >= 4 ]
print(b)

['Life', 'short', 'need', 'Python']

In [28]:
list_b = ['Life', 'is', 'short', 'You', 'need', 'Python']

for i in list_b :
    if len(i) >= 4 :
        print(i)

Life
short
need
Python

### 6. 아래 반복문을 리스트 내포를 이용하여 수정하시오

In [2]:
# 홀수에만 2을 곱하는
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
print(result)

[2, 6, 10]

In [21]:
numbers = [1, 2, 3, 4, 5]

a = [n*2 for n in numbers if n % 2 == 1]
print(a)

[2, 6, 10]

### 7. 사용자로부터 5자리 우편번호를 받고 구를 판별하시오.
- 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 
- 강북구의 경우 010, 011, 012 세 자리로 시작한다.

| - | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 |
| ---- | ---- |---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |   
|  01 |  강북구 |강북구 |강북구 |도봉구 |도봉구 |도봉구 |노원구 |노원구 |노원구 |노원구 |  

- 강북구, 도봉구, 노원구 3개구에 한하여 판별하는 프로그램(01로 시작하는 우편번호를 입력한다고 가정)
- 입력 예) 우편번호 : 01400
- 출력 예) 도봉구

In [26]:
a = str(input('우편번호(01로 시작하십시오.) : '))

if int(a[2]) < 3 :
    print('강북구')
elif int(a[2]) < 6 :
    print('도봉구')
else :
    print('노원구')

우편번호(01로 시작하십시오.) : 01400
도봉구

In [51]:
postNo = input('우편번호')
postNo = postNo[:3]

if postNo in ['010', '011', '012'] :
    print('강북구')
elif postNo in ['014', '015', '016'] :
    print('도봉구')
else :
    print('노원구')

우편번호01400
도봉구

### 8. 사용자가 입력한 수만큼 하트를 출력하시오.
- 사용자가 여러개의 숫자를 입력하면 입력한 숫자 만큼 ♥('\u2665')출력하기
- 입력 값이 5342라면
- ♥♥♥♥♥
- ♥♥♥
- ♥♥♥♥
- ♥♥
- for, while 두가지 경우 다 프로그래밍 하세요.(답변 2개)

In [38]:
# for

n = input('숫자를 입력하세요 : ')

for i in range(len(n)) :
    for k in range(int(n[i])) :
        print('\u2665',end='')
    print()

숫자를 입력하세요 : 5342
♥♥♥♥♥
♥♥♥
♥♥♥♥
♥♥

In [3]:
# 반복문으로

n = input('숫자를 입력하세요 : ')

for i in range(len(n)) :
    print('\u2665'*int(n[i]))

숫자를 입력하세요 : 5322
♥♥♥♥♥
♥♥♥
♥♥
♥♥

In [2]:
# while

n = input('숫자를 입력하세요 : ')

i, k = 0, 0

while i < len(n) :
    
    k = 0
    while k < int(n[i]) :
        print('\u2665',end='')
        k += 1
        
    print()
    i += 1

숫자를 입력하세요 : 5322
♥♥♥♥♥
♥♥♥
♥♥
♥♥

### 9. for 문을 이용하여 ★(\u2605)로 마름모 만들기

In [5]:
#출력예시

        ★
      ★★★
    ★★★★★
  ★★★★★★★
★★★★★★★★★
  ★★★★★★★
    ★★★★★
      ★★★
        ★

In [52]:
for i in range(9) :
    
    if i < 5 :
        for k in range(4-i) :
            print('  ',end='')
            
        for k in range((i * 2) +1) :
            print('\u2605',end = '')
    else :
        for k in range(i-4) :
            print('  ',end='')
        
        for k in range((9-i)*2-1) :
            print('\u2605',end='')
    print()

        ★
      ★★★
    ★★★★★
  ★★★★★★★
★★★★★★★★★
  ★★★★★★★
    ★★★★★
      ★★★
        ★

### 10. 구구단을 역순으로 한꺼번에 출력하시오.

In [116]:
#출력예시

 #9단#  #8단#  #7단#  #6단#  #5단#  #4단#  #3단#  #2단#
9x9=81 8x9=72 7x9=63 6x9=54 5x9=45 4x9=36 3x9=27 2x9=18
9x8=72 8x8=64 7x8=56 6x8=48 5x8=40 4x8=32 3x8=24 2x8=16
9x7=63 8x7=56 7x7=49 6x7=42 5x7=35 4x7=28 3x7=21 2x7=14
9x6=54 8x6=48 7x6=42 6x6=36 5x6=30 4x6=24 3x6=18 2x6=12
9x5=45 8x5=40 7x5=35 6x5=30 5x5=25 4x5=20 3x5=15 2x5=10
9x4=36 8x4=32 7x4=28 6x4=24 5x4=20 4x4=16 3x4=12 2x4= 8
9x3=27 8x3=24 7x3=21 6x3=18 5x3=15 4x3=12 3x3= 9 2x3= 6
9x2=18 8x2=16 7x2=14 6x2=12 5x2=10 4x2= 8 3x2= 6 2x2= 4
9x1= 9 8x1= 8 7x1= 7 6x1= 6 5x1= 5 4x1= 4 3x1= 3 2x1= 2

In [46]:
gugudan = ''

for i in range(9,1,-1) :
    gugudan = gugudan + (' #%d단#  '%i)
print(gugudan)

for i in range(9,0,-1) :
    gugudan = ''
    for dan in range(9,1,-1) :
        gugudan = gugudan + str('%dx%d=%2d'%(dan,i,dan*i)) + '  '
    print(gugudan)

 #9단#   #8단#   #7단#   #6단#   #5단#   #4단#   #3단#   #2단#
9x9=81  8x9=72  7x9=63  6x9=54  5x9=45  4x9=36  3x9=27  2x9=18
9x8=72  8x8=64  7x8=56  6x8=48  5x8=40  4x8=32  3x8=24  2x8=16
9x7=63  8x7=56  7x7=49  6x7=42  5x7=35  4x7=28  3x7=21  2x7=14
9x6=54  8x6=48  7x6=42  6x6=36  5x6=30  4x6=24  3x6=18  2x6=12
9x5=45  8x5=40  7x5=35  6x5=30  5x5=25  4x5=20  3x5=15  2x5=10
9x4=36  8x4=32  7x4=28  6x4=24  5x4=20  4x4=16  3x4=12  2x4= 8
9x3=27  8x3=24  7x3=21  6x3=18  5x3=15  4x3=12  3x3= 9  2x3= 6
9x2=18  8x2=16  7x2=14  6x2=12  5x2=10  4x2= 8  3x2= 6  2x2= 4
9x1= 9  8x1= 8  7x1= 7  6x1= 6  5x1= 5  4x1= 4  3x1= 3  2x1= 2

### 11-1.  6개의 커피 음료와 음료의 가격이 담긴 리스트가 아래와 같이 있다. 가지고 있는 돈이 5,000원일 때 먹을 수 있는 모든 음료를 찾아보자!

In [12]:
coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
prices = [4100, 4600, 4600, 5100, 6000, 5000]

아메리카노
카페라떼
카페모카
콜드브루

In [54]:
coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
prices = [4100, 4600, 4600, 5100, 6000, 5000]

money = 5000

for i in range(len(prices)) :
    if prices[i] <= money :
        print(coffees[i])

아메리카노
카페라떼
카페모카
콜드브루

In [1]:
# 리스트 안에 리스트 형
coffee = [['아메리카노', 4100], ['카페라떼', 4600], ['카페모카', 4600], ['바닐라라떼', 5100], ['핸드드립', 6000], ['콜드브루', 5000]]

money = 5000

for i in range(len(coffee)) :
    if coffee[i][1] <= money :
        print(coffee[i][0])

아메리카노
카페라떼
카페모카
콜드브루

In [19]:
# dictionary
coffee = {'아메리카노' : 4100, '카페라떼': 4600, '카페모카': 4600, '바닐라라떼': 5100, '핸드드립': 6000, '콜드브루': 5000 }

money = 5000
a = list(coffee.keys())

for i in range(len(a)) :
    if coffee[a[i]] <= money :
        print(a[i])

아메리카노
카페라떼
카페모카
콜드브루

In [17]:

coffee = {'아메리카노' : 4100, '카페라떼': 4600, '카페모카': 4600, '바닐라라떼': 5100, '핸드드립': 6000, '콜드브루': 5000 }

# items()
for i, j in coffee.items() :
    if j <= 5000 : print(i)
        
print()

# keys()
for i in coffee.keys() :
    if coffee[i] <= 5000 : print(i)

아메리카노
카페라떼
카페모카
콜드브루

아메리카노
카페라떼
카페모카
콜드브루

### 11-2. 오늘은 할인 행사를 하여 모든 음료가 500원 할인 되었다!!!. 가지고 있는 돈이 5,000원일 때 먹을 수 있는 모든 음료를 찾아보자!

In [69]:
# 리스트 _ver1

coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
prices = [4100, 4600, 4600, 5100, 6000, 5000]

money = 5000
event = []

for i in range(len(prices)) :
    event.append(prices[i]-500)
    
for i in range(len(event)) :
    if event[i] <= money :
        print(coffees[i])

아메리카노
카페라떼
카페모카
바닐라라떼
콜드브루

In [20]:
coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
prices = [4100, 4600, 4600, 5100, 6000, 5000]

for i in range(len(coffees)) :
    if prices[i] - 500 <= 5000 :
        print(coffees[i])

아메리카노
카페라떼
카페모카
바닐라라떼
콜드브루

In [10]:
# 리스트 _ver2 (리스트 내포형으로 event 가격 구하기)

coffees = ['아메리카노', '카페라떼', '카페모카', '바닐라라떼', '핸드드립', '콜드브루']
prices = [4100, 4600, 4600, 5100, 6000, 5000]
event = [num-500 for num in prices]
money = 5000

for i in range(len(event)) :
    if event[i] <= money :
        print(coffees[i])

아메리카노
카페라떼
카페모카
바닐라라떼
콜드브루

In [3]:
# 리스트 안에 리스트 형

coffee = [['아메리카노', 4100], ['카페라떼', 4600], ['카페모카', 4600], ['바닐라라떼', 5100], ['핸드드립', 6000], ['콜드브루', 5000]]

money = 5000

for i in range(len(coffee)) :
    coffee[i][1] -= 500 
    if coffee[i][1] <= money :
        print(coffee[i][0])

아메리카노
카페라떼
카페모카
바닐라라떼
콜드브루

In [11]:
# dictionary

coffee = {'아메리카노' : 4100, '카페라떼': 4600, '카페모카': 4600, '바닐라라떼': 5100, '핸드드립': 6000, '콜드브루': 5000 }

a = list(coffee.keys())

for i in range(len(a)) :
    coffee[a[i]] -= 500
    if coffee[a[i]] <= 5000 :
        print(a[i])

아메리카노
카페라떼
카페모카
바닐라라떼
콜드브루

### 12. 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 
- 각 통화별 환율은 다음과 같다. 
- 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 **금액과 통화명 사이에 공백을 넣어 입력**한다고 가정한다.

| 통화명 | 환율 |
| ---- | ---- | 
|  달러 |  1,129 |  
|  엔 |  1,032 | 
|  유로 | 1,368 | 
|  위안 |  175 |

환전금액을 입력하세요(달러/엔/유로/위안): 100 달러
원화로 환전된 금액은 112900.0 원 입니다.

In [21]:
exchangeRate = {'달러' : 1129,
                '엔' : 1032,
                '유로' : 1368,
                '위안' : 175}

user = input('환전금액을 입력하세요(달러/엔/유로/위안): ')
num, currency = user.split()

print('원화로 환전된 금액은', int(num)*exchangeRate[currency],'원 입니다.')

환전금액을 입력하세요(달러/엔/유로/위안): 100 달러
원화로 환전된 금액은 112900 원 입니다.

https://wikidocs.net/7031

### 13. 음식궁합을 참고하여 동물의 어미와 새끼의 이름을 딕셔너리로 묶는 프로그램을 만드시오.
- 입력) [닭, 개, 곰, 고등어, 명태, 말, 호랑이] 중 새끼이름을 알고 싶은 동물은? 곰
- 출력) <곰>의 새끼는 <능소니>입니다.
- 동물어미와 새끼의 이름은 인터넷에서 검색한다.
- 'end'를 입력하면 종료한다.

['닭', '개', '곰', '고등어', '명태', '말', '호랑이']중 새끼 이름을 알고싶은 동물은?호랑이
<호랑이>의 새끼는 <개호주>입니다
['닭', '개', '곰', '고등어', '명태', '말', '호랑이']중 새끼 이름을 알고싶은 동물은?end

In [25]:
# 변수 선언부분
ani = {'닭' : '병아리',
       '개' : '강아지',
       '곰' : '능소니',
       '고등어' : '고도리',
       '명태' : '노가리',
       '말' : '망아지',
       '호랑이' : '개호주',}

Ani = list(ani.keys())

while True :
    myanimal = input(str(Ani)+'중 새끼 이름을 알고싶은 동물은?')
    
    if myanimal in Ani :
        print('<{}>의 새끼는 <{}>입니다'.format(myanimal, ani[myanimal]) )
    elif myanimal == 'end' :
        break
    else : 
        print('목록에 없는 동물입니다.')

['닭', '개', '곰', '고등어', '명태', '말', '호랑이']중 새끼 이름을 알고싶은 동물은?호랑이
<호랑이>의 새끼는 <개호주>입니다
['닭', '개', '곰', '고등어', '명태', '말', '호랑이']중 새끼 이름을 알고싶은 동물은?end