### 1. 다음 리스트에서 40, 50을 삭제하는 코드를 입력하세요

In [4]:
nums = [10,20,30,40,50]

In [3]:
del nums[3:]
nums

[10, 20, 30]

In [6]:
nums = [10,20,30,40,50]
nums.remove(40)
nums.remove(50)
nums

[10, 20, 30]

In [1]:
nums = [10,20,30,40,50]
nums.pop()
nums.pop()
print(nums)

[10, 20, 30]

### 2. \<pass> 부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게 하세요

In [1]:
list_a = [200, 100, 300]
pass
print(list_a)

# 출력결과 [200, 100, 10000, 300]

[200, 100, 300]

In [7]:
list_a = [200, 100, 300]
list_a.insert(2,10000)
print(list_a)

[200, 100, 10000, 300]

### 3. 몇 번째 행성인가요?
- 우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 총 8개입니다. 
- 입력으로 행성의 순서를 나타는 숫자 n이 입력되면 해당하는 행성을 출력합니다. 예) 입력 1 -> 수성

In [3]:
planet = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
user = int(input('입력 : '))
print(planet[user-1])

입력 : 3
지구

In [4]:
planets = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

n = int(input()) -1
print(planets[n])

5
목성

### 4. 행성의 한글이름을 입력하면 영어 이름으로 반환하는 프로그램을 만드시오.
- 영어이름 : Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune 예) 지구 -> Earth

In [14]:
planet_k = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
planet_e = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
user = input('행성이름(한글) : ')
print(planet_e[planet_k.index(user)])

행성이름(한글) : 토성
Saturn

In [6]:
planets = {'수성' : 'Mercury',
           '금성' : 'Venus',
           '지구' : 'Earth',
           '화성' : 'Mars',
           '목성' : 'Jupiter',
           '토성' : 'Saturn',
           '천왕성' : 'Uranus',
           '해왕성' : 'Neptune'
          }

name = input()
print(name, ':', planets[name])
#print('{}:{}'.format(name, planets[name]))

목성
목성 : Jupiter

### 5. 문장이 입력되면 거꾸로 출력하는 프로그램을 만드시오. 예) 거꾸로 -> 로꾸거

In [15]:
user = input('문장입력 : ')
print(user[::-1])

문장입력 : 거꾸로
로꾸거

### 6. 입력으로 문자열이 주어지면 2-gram으로 출력하는 프로그램을 작성하시오.
- 2-gram이란 문자열에서 2개의 연속된 요소를 출력하는 방법
- 예 'Python' 입력하면
- Py
- yt
- th
- ho
- on

In [19]:
user = input('문자열 : ')
for i in range(len(user)) :
    print(user[i:i+2])
    if i==len(user)-2 :
        break

문자열 : Python
Py
yt
th
ho
on

In [8]:
data = input()

for i in range(len(data)-1) :
    print(data[i],data[i+1],sep='')

hello
he
el
ll
lo

### 7. sort 구현하기
- 승찬이는 체육부장으로 체육시간이 되면 반 친구들이 제대로 키 순서대로 모였는지를 확인해야 한다.
- 그런데 승찬이는 그것이 너무 번거롭게 느껴져 한번에 확인하고 싶어한다.
- 승찬이를 위해 키가 주어지면 순서대로 제대로 섰는지 확인하는 프로그램을 작성하시오
- 입력 : 173 156 165 166 169
- 출력 : NO

In [50]:
height = input('입력 : ')
list_h = height.split()
list_H = [int(i) for i in list_h]
h_sort = sorted(list_H)

if list_H == h_sort :
    print('출력 : YES')
else : print('출력 : NO')

입력 : 159 162 168 178 182
출력 : YES

### 8. 문장이 입력되면 모든 q를 e로 바꾸는 프로그램을 작성하시오.
- 혜원이는 문서를 작성하면서 모든 문장의 e를 q로 잘못 입력한 것을 발견했다. 파이썬으로 재빠르게 q를 e로 바꾸는 프로그램을 작성하려고 한다.
- 입력 : querty    / 출력 : euerty
- 입력 : La viq qn rosq / 출력 : La vie en rose

In [52]:
user = input('입력 : ')
print('출력 :', user.replace('q','e'))

입력 : La viq qn rosq
출력 : La vie en rose

### 9. 숫자가 주어지면 소수인지 아닌지 판별하는 프로그램을 작성하시오.
- 소수 : 1과 자기자신으로만 나누어 떨어지는 1보다 큰 양의 정수
- 입력 : 11 / 출력 : YES
- 입력 : 6 / 출력 : No

In [58]:
def isPrime(user) :
    for i in range(2,user) :
        if user%i ==0 :
            return 'No'
        else : 
            return 'Yes'

user = int(input('입력 : '))
print('출력 :',isPrime(user))

입력 : 11
출력 : Yes

### 10. 10진수가 입력되면 2진수로 출력하도록 프로그래밍 하시오
- 입력 : 13 / 출력 1101

In [4]:
num = int(input('입력 : '))
print('출력 :',bin(num)[2:])

입력 : 10
출력 : 1010

In [8]:
num = int(input('입력 : '))
bin_num = ''
while True :
    bin_num = bin_num + str(num%2)
    num = num//2
    if num == 0 : break
print('출력 :',bin_num[::-1])

입력 : 10
출력 : 1010

### 11. 숫자, n진법을 입력 받아서 10진수로 변환하기
- 입력 : 10 5 / 출력 : 5

In [16]:
user = input('입력(숫자와 진법 사이에 공백을 넣어주세요.) : ')
num, n = user.split()
print(int(num, int(n)))

입력(숫자와 진법 사이에 공백을 넣어주세요.) : 10 5
5

### 12. str 자료형의 응용
- 1~100까지의(100포함) 모든 숫자를 일렬로 놓고 모든 자릿수의 총 합을 구하시오
- 예) 10~15 사이의 모든 숫자를 일렬로 놓으면 101112131415이고 각 자리의 숫자를 더하면 25이다.

In [23]:
num = ''
for i in range(1,101) :
    num += str(i)

result = 0
for j in range(len(num)) :
     result += int(num[j])
print(result)

901

### 13. 아래 요구사항에 맞는 프로그램을 작성하시오.
- 새학기 되어 이름을 가나다 순서대로 배정하고 번호를 매기려고 한다. 
- 코드에 입력된 이름을  아래와 같이 출력하시오.

In [1]:
students = ['강은지', '김유정','박현서', '최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
students2 = sorted(students)

for number, name in enumerate(students2) :
    print('번호 : {}, 이름 : {}'.format(number+1, name))

번호 : 1, 이름 : 강은지
번호 : 2, 이름 : 강채연
번호 : 3, 이름 : 권윤일
번호 : 4, 이름 : 김민호
번호 : 5, 이름 : 김유정
번호 : 6, 이름 : 김진이
번호 : 7, 이름 : 김채리
번호 : 8, 이름 : 박지호
번호 : 9, 이름 : 박현서
번호 : 10, 이름 : 최성훈
번호 : 11, 이름 : 한지호
번호 : 12, 이름 : 홍유진

### 14. 문자열을 입력받고 연속되는 문자열을 압축해서 표현하는 프로그램을 작성하시오
- 입력 : aaabbbbcdddd
- 출력 : a3b4c1d4

In [33]:
user = input('입력 : ')

count = ''
for i in range(len(user)) :
    if user[i] in count : pass
    else : 
        count += user[i] + str(user.count(user[i]))
print('출력 :',count)

입력 : aaabbbcdddd
출력 : a3b3c1d4

### 15. 아래 질문에 알맞은 프로그램을 작성하시오.
- 아빠는 딸과 친과 친해지기 위해 줄임말을 배우기로 했습니다. 
- 딸은 '복잡한 세상 편하게 살자'라는 문장을 '복세편살'로 줄여 말합니다.
- 아빠가 줄임말을 배우기 위해 아래와 같이 어떤 입력이 주어지면 앞 글자만 줄어 출력되도록 프로그래밍 하시오.

In [34]:
user = input('입력 : ')
list_u = user.split()

result = ''
for i in range(len(list_u)) :
    result += list_u[i][0]
print('줄임말 :',result)

입력 : 복잡한 세상 편하게 살자
줄임말 : 복세편살